*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

body {
	min-height: 100vh;
}

.container-header{
	display: flex;
	justify-content: center;
    align-items: center;
	height: 50px;
	background-color: lightblue;
}

.content-header{
	width: 25%;
	height: 30px;
	display: flex;
	justify-content: space-between;
	justify-content: center;
    align-items: center;
	background-color: orange;
	border: dashed black;
}

.link{
	min-width: 35%;
}
.logo {

	/*min-width: 20%; vedi come cambiare la lunghezza di logo e login*/
	justify-content: flex-start;
	padding: 10px;
}
.login {
	justify-content: flex-end;
	padding: 10px;
}


.section{
	height: 400px;
	
}

/*SECTION 1*/

.container-sect-1{
	background-color: blue;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-sect-1{
	width: 50%;
	height: 250px;
	background-color: pink;
	border: dashed;
}

/*SECTION 2*/

.container-sect-2{
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-sect-2{
	width: 30%;
    height: 300px;
    border: dashed;
}

.blue-box-2{
	background-color: blue;
	display: flex;
	flex-grow: 0.15;
}

.pink-box-2{
	background-color: pink;
}

/*SECTION 3*/

.container-sect-3{
	background-color: grey;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-sect-3{
	width: 30%;
    height: 300px;
    border: dashed;
}

.pink-box-3{
	background-color: pink;
}

.blue-box-3{
	background-color: blue;
	display: flex;
	flex-grow: 0.15;
}

/*SECTION 4*/

.container-sect-4{
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-sect-4{
	width: 30%;
    height: 300px;
    border: dashed;
}

.blue-box-4{
	background-color: blue;
	display: flex;
	flex-grow: 0.15;
}

.pink-box-4{
	background-color: pink;
}